<?xml version="1.0" encoding="UTF-8"?>
<!-- 在运行时，可以动态修改配置文件，不用重启服务，在固定时长更新一次配置文件。
monitorInterval设置更新配置文件时长， 单位为seconds ， min senconds >= 5secondes
-->
<Configuration monitorInterval="300">
    <!--<Properties>-->
    <!--<Property name="log.path">logs/</Property>-->
    <!--<Property name="log.fileName">etl-services.log</Property>-->
    <!--</Properties>-->
    <Appenders>
        <!-- 控制台appdener-->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%-d{yyyy-MM-dd HH:mm:ss} %-5p [%t] [%c] - %m%n"/>
        </Console>

        <!--
            注意：一般情况下都使用RollingRandomAccessFile 。
            RollingRandomAccessFile可以按照日志名称的格式进行定期备份，拥有一定的备份策略。
            1.是否压缩备份日志：直接在filePattern属性的文件名称最后加对应的压缩后缀，如gzip压缩用 .gz
        -->
        <RollingFile name="RollingFile" fileName="/tmp/app-logs/app.log"
                     filePattern="/tmp/app-logs/app.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%-d{yyyy-MM-dd HH:mm:ss} %-5p [%t] [%c] - %m%n</Pattern>
            </PatternLayout>
            <!-- 备份策略:满足其中一个就可以启动备份-->
            <Policies>
                <!-- interval 多久执行一次备份，单位为 RollingRandomAccessFile的属性filePattern中%d{yyyy-MM-dd}的最小时间单位，此处是天-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <!-- 默认的备份策略：max="7"表示最多只保留7份日志，fileIndex属性是在拥有多个备份日志的时候，命令是以递增的数为文件名，max值时值大的文件是最新的内容，min值时值大的是最久的内容-->
            <!--<DefaultRolloverStrategy max="7"/>-->
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- logger
       additivity属性：如果设置为true（默认值）则log会被打印两次，这里的logger和root-->
        <Logger name="com.cake" level="info" additivity="false">
            <appender-ref ref="RollingFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>